{% extends 'blog/base.html' %}
{% block content %}
<div class="container">

  <div class="blog-header">
    <h1 class="blog-post-title">{{ post.title }}</h1>
  </div>
  <div class="row">
    <div class="col-sm-8 blog-main">
      <div class="blog-post">
        <p>
        	{{ post.text }}
        </p>	
        <p class="blog-post-meta">{{ post.created_date }} by <a href="#">{{ post.author }}</a></p>
        <a href="/blog/" "email me">回首頁</a>
        <a href="/blog/{{ next_post.id }}" "email me">下一頁</a>
        <form action="/blog/delete/{{ post.id }}" method="post">
        	<input type="submit" value="delete">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
