{% load staticfiles %}
<html>
    <head>
        <title>III's blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css'  %}">
    </head>
    <body>
	    <div class="container">

	      <div class="blog-header">
	        <h1 class="blog-post-title">{{ post.title }}</h1>
	      </div>
	      <div class="row">
	        <div class="col-sm-8 blog-main">
	          <div class="blog-post">
	            <p>
	            	{{ post.text }}
	            </p>	
	            <p class="blog-post-meta">{{ post.created_date }} by <a href="#">{{ post.author }}</a></p>
	            <a href="/blog/" "email me">回首頁</a>
	          </div>
	        </div>
	      </div>
	    </div>
	   
    </body>
</html>
